$include /etc/inputrc
"\C-p": history-search-backward
"\C-n": history-search-forward

set completion-ignore-case on
set colored-stats On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On

set editing-mode vi
$if mode=vi
# Set up a Ctrl+l key-bind for vi's insert-mode
set keymap vi insert
  Control-l: clear-screen
$endif
